In [2]:
import great_expectations as ge

In [3]:
movie_data = ge.read_csv("movies_metadata2.csv")

In [4]:
movie_data[50:60]

,adult,genres,id,original_language,original_title,overview,popularity,production_companies,vote_average,vote_count
50,FALSE,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",117164,en,Guardian Angel,Detective - turned - bodyguard Cynthia McKay (...,0.595949,[],6.3,3.0
51,FALSE,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",11448,en,Mighty Aphrodite,"When Lenny and his wife, Amanda, adopt a baby,...",15.899134,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",6.7,145.0
52,FALSE,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",49133,it,Lamerica,"Fiore, an Italian conman, arrives in post Comm...",1.361286,[],7.7,11.0
53,FALSE,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",26441,en,The Big Green,"In a depressed Texas town, British foreign exc...",5.982764,"[{'name': 'Walt Disney Pictures', 'id': 2}, {'...",5.2,41.0
54,FALSE,"[{'id': 18, 'name': 'Drama'}]",97406,en,Georgia,"Sadie looks up to her older sister Georgia, a ...",4.093443,"[{'name': 'Miramax Films', 'id': 14}, {'name':...",6.1,15.0
55,FALSE,[],124057,en,Kids of the Round Table,"Set in modern times, Alex finds King Arthur's ...",0.307075,"[{'name': 'Telefilm Canada', 'id': 7320}, {'na...",3.0,1.0
56,FALSE,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",9089,en,Home for the Holidays,"After losing her job, making out with her soon...",8.416802,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",6.3,39.0
57,FALSE,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",11010,it,Il postino,Simple Italian postman learns to love poetry w...,10.168437,[],7.6,181.0
58,FALSE,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",99040,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",0.120789,[],6.5,2.0
59,FALSE,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",11359,en,The Indian in the Cupboard,A nine-year-old boy gets a plastic Indian and ...,10.673296,"[{'name': 'Paramount Pictures', 'id': 4}, {'na...",5.9,136.0

In [5]:
movie_data.expect_compound_columns_to_be_unique(['id'])

{
  "exception_info": null,
  "success": false,
  "meta": {},
  "result": {
    "element_count": 45466,
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_count": 59,
    "unexpected_percent": 0.12976729864074252,
    "unexpected_percent_nonmissing": 0.12976729864074252,
    "partial_unexpected_list": [
      {
        "id": "105045"
      },
      {
        "id": "132641"
      },
      {
        "id": "22649"
      },
      {
        "id": "105045"
      },
      {
        "id": "84198"
      },
      {
        "id": "10991"
      },
      {
        "id": "110428"
      },
      {
        "id": "15028"
      },
      {
        "id": "12600"
      },
      {
        "id": "109962"
      },
      {
        "id": "4912"
      },
      {
        "id": "5511"
      },
      {
        "id": "23305"
      },
      {
        "id": "5511"
      },
      {
        "id": "23305"
      },
      {
        "id": "69234"
      },
      {
        "id": "14788"
      },
      {
        "id": "77221"
      },
      {
        "id": "13209"
      },
      {
        "id": "14788"
      }
    ]
  }
}

In [6]:
movie_data.expect_column_values_to_be_between('vote_count', min_value=5)

{
  "exception_info": null,
  "success": false,
  "meta": {},
  "result": {
    "element_count": 45466,
    "missing_count": 6,
    "missing_percent": 0.013196674438041614,
    "unexpected_count": 14562,
    "unexpected_percent": 32.028328861127,
    "unexpected_percent_nonmissing": 32.03255609326881,
    "partial_unexpected_list": [
      4.0,
      2.0,
      3.0,
      1.0,
      2.0,
      3.0,
      2.0,
      0.0,
      3.0,
      4.0,
      2.0,
      0.0,
      2.0,
      4.0,
      3.0,
      0.0,
      2.0,
      4.0,
      1.0,
      0.0
    ]
  }
}

In [7]:
movie_data.expect_column_values_to_not_be_null('original_language')

{
  "exception_info": null,
  "success": false,
  "meta": {},
  "result": {
    "element_count": 45466,
    "unexpected_count": 11,
    "unexpected_percent": 0.024193903136409626,
    "partial_unexpected_list": []
  }
}

In [8]:
movie_data.get_expectation_suite()

import json

with open( "my_expectation_file.json", "w") as my_file:
    my_file.write(
        json.dumps(movie_data.get_expectation_suite().to_json_dict())
    )

my_expectation_suite = json.load(file("my_expectation_file.json"))
movie_data = ge.read_csv(
    "movies_metadata2.csv",
    expectation_suite=my_expectation_suite)
movie_data.validate()